<app-navbar></app-navbar>
<mat-toolbar>
    <span>{{titulo}}</span>
</mat-toolbar>
<div class="detalle">

    <div class="ladoIzquierdo container">

    
        <mat-card style="margin-top: 30px;">
            <form [formGroup]="form" (ngSubmit)="agregarCliente()">
                <mat-grid-list cols="4" rowHeight="70px">
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field class="ancho">
                            <mat-label>Nombre</mat-label>
                            <input matInput autocomplete="off" formControlName="nombre">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field class="ancho">
                            <mat-label>Apellido</mat-label>
                            <input matInput autocomplete="off" formControlName="apellido">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field class="ancho">
                            <mat-label>Ciudad</mat-label>
                            <input matInput autocomplete="off" formControlName="ciudad">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field class="ancho">
                            <mat-label>Tipo Licencia</mat-label>
                            <input matInput autocomplete="off" formControlName="tipoLicencia">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field class="ancho">
                            <mat-label>Nro Serie</mat-label>
                            <input matInput autocomplete="off" formControlName="nroSerie">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field class="ancho">
                            <mat-label>Contraseña</mat-label>
                            <input matInput autocomplete="off" formControlName="password">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field class="ancho">
                            <mat-label>Fecha Licencia</mat-label>
                            <input matInput [matDatepicker]="picker1" [min]="minimo"
                            formControlName="fechaLicencia">
                        <mat-datepicker-toggle matIconSuffix [for]="picker1">
                            <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field class="ancho">
                            <mat-label>Observaciones</mat-label>
                            <input matInput autocomplete="off" formControlName="observaciones">
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field class="ancho">
                            <mat-label>Costo</mat-label>
                            <input matInput autocomplete="off" formControlName="costo">
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field class="ancho">
                            <mat-label>Saldo</mat-label>
                            <input [disabled]="true" matInput autocomplete="off" formControlName="saldo">
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                    
                    
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="4" [rowspan]="2">
                        
                        <button class="zindex" mat-raised-button color="primary" *ngIf="botonVisible"(click)="ocultarMostrarBotones()">Editar</button>
                        <button class="zindex" type="submit" [disabled]="form.invalid" mat-raised-button color="primary" style="margin-left: 20px" *ngIf="!botonVisible">Aceptar</button>
                        <button class="zindex" mat-raised-button color="primary" style="margin-left: 20px;" routerLink="/clientes">Volver</button>
                    </mat-grid-tile>
                </mat-grid-list>        
            </form>
        </mat-card>
    
        <!-- <div class="confirmation-dialog" *ngIf="showConfirmationDialog">
            
        </div> -->
    
    </div>
    <div class="ladoDerecho container">
        <mat-card style="margin-top: 30px;">
            <h4 style="text-align: center;">Pagos realizados</h4>
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="TipoMoneda">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Moneda </th>
                    <td mat-cell *matCellDef="let element">{{element.moneda}} </td>
                </ng-container>
            
                <ng-container matColumnDef="Monto">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto </th>
                    <td mat-cell *matCellDef="let element"> {{element.monto}} </td>
                </ng-container>
            
                <ng-container matColumnDef="Cotizacion">
                    <th mat-header-cell *matHeaderCellDef>Cotizacion</th>
                    <td mat-cell *matCellDef="let element"> {{element.cotizacion}} </td>
                </ng-container>
            
                <ng-container matColumnDef="Equivalencia">
                    <th mat-header-cell *matHeaderCellDef>Equivalencia</th>
                    <td mat-cell *matCellDef="let element"> {{element.monto / element.cotizacion}} </td>
                </ng-container>
            
                <ng-container matColumnDef="Fecha">
                    <th mat-header-cell *matHeaderCellDef>Fecha</th>
                    <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                </ng-container>
            
                <ng-container matColumnDef="Observaciones">
                    <th mat-header-cell *matHeaderCellDef>Observaciones</th>
                    <td mat-cell *matCellDef="let element"> {{element.observacion}} </td>
                </ng-container>
            
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card>

        
        <button class="zindex" mat-raised-button color="primary" style="margin-left: 20px;" (click)="showModalPago()">Agregar Pago</button>
        <br>
        <div *ngIf="cargaPago" class="confirmation-dialog">
            <div class="modalAddPago">
                <h4>Agregar Pago</h4>
                <form [formGroup]="formPago" (ngSubmit)="agregarPago()">
                    <mat-form-field class="ancho">
                        <mat-label>Tipo de Moneda</mat-label>
                        <!-- <input matInput autocomplete="off" formControlName="tipoMoneda"> -->
                        <select matNativeControl autocomplete="off" formControlName="tipoMoneda">
                            <option value="Dolar">Dolar</option>
                            <option value="Pesos">Pesos</option>
                        </select>
                    </mat-form-field>
        
                    <mat-form-field class="ancho">
                        <mat-label>Monto Dolares</mat-label>
                        <input matInput autocomplete="off" formControlName="montoDolar">
                    </mat-form-field>
        
                    <mat-form-field class="ancho">
                        <mat-label>Monto Pesos</mat-label>
                        <input matInput autocomplete="off" formControlName="montoPesos">
                    </mat-form-field>
        
                    <mat-form-field class="ancho">
                        <mat-label>Cotizacion actual</mat-label>
                        <input matInput autocomplete="off" formControlName="cotizacionActual">
                    </mat-form-field>
        
                    <mat-form-field class="ancho">
                        <mat-label>Observación</mat-label>
                        <input matInput autocomplete="off" formControlName="observacion">
                    </mat-form-field>
        
                    <div class="botonesModal">
                        <button type="submit"mat-raised-button color="primary" style="margin-left: 20px" >Aceptar</button>
                        <button (click)="closeModalPago()" mat-raised-button color="primary" style="margin-left: 20px" >Cancelar</button>
                    </div>
                    
                </form>
        
        
                  
        
            </div>
        </div>
        <br>
       
    </div>
</div>

<app-footer></app-footer>