.ancho {
    width: 70%;
}

.container {
    margin-top: 5px;
    height: 100vh; 
    
}

img {
    margin-right: 25%;
}

.buttonPagos{
    color: rgba(0, 0, 0, 0.87);

}

.confirmation-dialog {
    z-index: 8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.zindex{
    z-index: 9;
}


.ladoIzquierdo{
    width: 80%;    
}

.ladoDerecho{
    width: 80%;
}



.detalle{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.buttonPago{
    width: 20%;
    margin-left: 40%;
    margin-bottom: 10px;
}


.modalAddPago{
    background-color: white;
    padding: 25px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.modalAddPago h4{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #3f51b5;
    color: white;
    margin-bottom: 15px;
    border-radius: 4px;
}

.confirmation-dialog {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ancho {
    width: 70%;
    margin-left: 15%;
}

.botonesModal button{
    width: 25%;
}

.botonesModal{
    text-align: center;
}


.container{
    margin-top: 5%;
}

.shadowForm{
-webkit-box-shadow: 1px 1px 1px 0px #3F51B5, inset 1px 1px 11px 0px #3F51B5, 1px 1px 11px 1px rgba(63,81,181,0); 
box-shadow: 1px 1px 1px 0px #3F51B5, inset 1px 1px 11px 0px #3F51B5, 1px 1px 11px 1px rgba(63,81,181,0);
}
.confirmation-dialog {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dialog-content {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  h2{
    color: red;
    text-align: center;
    margin-top: 3%;
    font-size: 25px;
  }