<app-navbar></app-navbar>
<mat-toolbar>
    <span *ngIf="edicionIsc">{{ 'EDITISC_MESSAGE' | translate }}</span>
    <span *ngIf="altaIsc">{{ 'ADDISC_MESSAGE' | translate }}</span>
</mat-toolbar>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="0ms" style="margin-top: 2%;">
    <mat-tab label="{{ 'EDITISC_MESSAGE' | translate }}"><div class="ladoIzquierdo container">
        <mat-card style="margin-top: 30px;">
            <form [formGroup]="formIsc" (ngSubmit)="agregarIsc()" class="shadowForm">
                <mat-grid-list cols="4" rowHeight="70px" style="margin-top: 8%; margin-right: 6%;">
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field class="ancho">
                            <mat-label>{{ 'MODEL_MESSAGE' | translate }}</mat-label>
                            <input matInput autocomplete="off" formControlName="modelo">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field class="ancho">
                            <mat-label>{{ 'VERSION_MESSAGE' | translate }}</mat-label>
                            <input matInput autocomplete="off" formControlName="version">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field class="ancho">
                            <mat-label>{{ 'SERIE_MESSAGE' | translate }}</mat-label>
                            <input matInput autocomplete="off" formControlName="nroSerie">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field class="ancho">
                            <mat-label>{{ 'NOMBRE_MESSAGE' | translate }}</mat-label>
                            <input matInput autocomplete="off" formControlName="nombreCliente">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field class="ancho">
                            <mat-label>{{ 'GTIA_MESSAGE' | translate }}</mat-label>
                            <input matInput autocomplete="off" formControlName="garantia">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field class="ancho">
                            <mat-label>{{ 'DATEACT_MESSAGE' | translate }}</mat-label>
                            <input matInput [matDatepicker]="picker1"
                            formControlName="fechaActivacion">
                        <mat-datepicker-toggle matIconSuffix [for]="picker1">
                            <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field class="ancho">
                            <mat-label>{{ 'ACTIV_MESSAGE' | translate }}</mat-label>
                            <input matInput autocomplete="off" formControlName="codigoActivacion">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field class="ancho">
                            <mat-label>{{ 'COD_MESSAGE' | translate }}</mat-label>
                            <input matInput autocomplete="off" formControlName="codigoActualizacion">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field class="ancho">
                            <mat-label>{{ 'OBS_MESSAGE' | translate }}</mat-label>
                            <textarea matInput autocomplete="off" formControlName="observaciones"
                            [(ngModel)]="textoTextarea" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                            cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field class="ancho">
                            <mat-label>Stock</mat-label>
                            <select matNativeControl formControlName="stock">
                                <option value="SI">{{ 'YES_MESSAGE' | translate }}</option>
                                <option value="NO">{{ 'NO_MESSAGE' | translate }}</option>
                            </select>
                          </mat-form-field>
                    </mat-grid-tile>
                    
                   
                </mat-grid-list>    
               
                <button   mat-raised-button color="primary" style="margin-left: 20px;" routerLink="/isc" style="margin-left: 20px;float: right;margin-bottom: 40px; margin-right: 10px;">{{ 'BACK_MESSAGE' | translate }}</button>    
                <button  type="submit" [disabled]="formIsc.invalid" mat-raised-button color="primary" style="float: right;margin-bottom: 40px;">{{ 'ACCEPT_MESSAGE' | translate }}</button>
            </form>
        </mat-card>
       
       
    
    </div></mat-tab>
