<app-navbar></app-navbar>

<div class="container">
    <mat-toolbar>
        <span class="clienteIzq">Clientes</span><span class="clienteDer" *ngIf="hayLicenciasAlLimite">Atención: existen
            licencias vencidas o prontas a vencer</span>
        <div class="example-spacer"> </div>
    </mat-toolbar>
 
    <div *ngIf="listClientes.length>0">
        <mat-form-field style="margin-top: 20px;">
            <mat-label>Búsqueda de Clientes</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input autocomplete="off">
        </mat-form-field>
        <div class="mat-elevation-z8">


            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color:#3f51b5;color: white;"> Nombre </th>
                    <td  [ngStyle]="{'background-color': calcularDiferencia(element.fechaLicencia.toDate())}" mat-cell *matCellDef="let element">{{element.nombre}} </td>

                </ng-container>

                <ng-container matColumnDef="apellido">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color:#3f51b5;color: white;"> Apellido </th>
                    <td [ngStyle]="{'background-color': calcularDiferencia(element.fechaLicencia.toDate())}" mat-cell *matCellDef="let element"> {{element.apellido}} </td>
                </ng-container>


                <ng-container matColumnDef="ciudad">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color:#3f51b5;color: white;">Ciudad</th>
                    <td [ngStyle]="{'background-color': calcularDiferencia(element.fechaLicencia.toDate())}" mat-cell *matCellDef="let element"> {{element.ciudad}} </td>
                </ng-container>

                <ng-container matColumnDef="fechaLicencia" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color:#3f51b5;color: white;">Fecha Licencia</th>
                    <td [ngStyle]="{'background-color': calcularDiferencia(element.fechaLicencia.toDate())}" mat-cell *matCellDef="let element"> {{formatoFecha(element.fechaLicencia.toDate())}} </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="">
            </mat-paginator>
        </div>
    </div>
    <h2 *ngIf="listClientes.length==0 ;hayLicenciasAlLimite" >No se encontraron clientes para mostrar</h2>
</div>
<app-footer></app-footer>