<div class="body">
    <div>
        <div>
            <h1 class="titulo">
                <h1>{{ 'WELCOME_MESSAGE' | translate }}</h1>
                {{ 'TITULO_MESSAGE' | translate }}
            </h1>
        </div>
        <div class="idiomas">
            <app-languaje-menu>

            </app-languaje-menu>
        </div>

        
    </div>
    
    <div class="componente portada" *ngIf="!loading">
        <img src="../../../assets/img/TEXUR CONSULTING COMPANY.png" style="margin-top: 7%; margin-bottom: 3%; width: 60%; height: 60%;">
    </div>
    <div class="componente">
        <div class="login">
            <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>
            <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="ingresar()">
                <mat-form-field class="ancho" appearance="fill">
                    <mat-label>{{ 'USER_MESSAGE' | translate }}</mat-label>
                    <input type="text" matInput autocomplete="off" formControlName="usuario">
                </mat-form-field>
                <mat-form-field class="ancho" appearance="fill">
                    <mat-label>{{ 'PASS_MESSAGE' | translate }}</mat-label>
                    <input type="password" matInput autocomplete="off" formControlName="password">
                </mat-form-field>
                <br>
                <button type="submit" class="ancho button" mat-raised-button color="primary" [disabled]="form.invalid">{{ 'LOGIN_MESSAGE' | translate }}</button>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>