<app-navbar></app-navbar>

<div class="container">
    <mat-toolbar>
        <span class="clienteIzq">{{ 'CLIENT_MESSAGE' | translate }}</span><span class="clienteDer" *ngIf="hayLicenciasAlLimite">{{ 'AVISO_MESSAGE' | translate }}</span>
        <div class="example-spacer"> </div>
        <button mat-raised-button color="primary" routerLink="/crearCliente">{{ 'ADD_MESSAGE' | translate }}</button>
    </mat-toolbar>
 
    <div *ngIf="listClientes.length==0" class="ambitoSpinner">
        <mat-spinner class="spinner" diameter="50"></mat-spinner>
    </div>
    <div *ngIf="listClientes.length>0">
        <mat-form-field style="margin-top: 20px;">
            <mat-label>{{ 'FIND_MESSAGE' | translate }}</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input autocomplete="off">
        </mat-form-field>
        <div class="mat-elevation-z8">

            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color:#3f51b5;color: white;"> {{ 'NAME_MESSAGE' | translate }} </th>
                    <td  [ngStyle]="{'background-color': calcularDiferencia(element.fechaLicencia.toDate())}" mat-cell *matCellDef="let element">{{element.nombre}} </td>

                </ng-container>

                <ng-container matColumnDef="apellido">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color:#3f51b5;color: white;"> {{ 'LNAME_MESSAGE' | translate }} </th>
                    <td [ngStyle]="{'background-color': calcularDiferencia(element.fechaLicencia.toDate())}" mat-cell *matCellDef="let element"> {{element.apellido}} </td>
                </ng-container>


                <ng-container matColumnDef="ciudad">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color:#3f51b5;color: white;">{{ 'CITY_MESSAGE' | translate }}</th>
                    <td [ngStyle]="{'background-color': calcularDiferencia(element.fechaLicencia.toDate())}" mat-cell *matCellDef="let element"> {{element.ciudad}} </td>
                </ng-container>

                <ng-container matColumnDef="fechaLicencia" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color:#3f51b5;color: white;">{{ 'DATE_MESSAGE' | translate }}</th>
                    <td [ngStyle]="{'background-color': calcularDiferencia(element.fechaLicencia.toDate())}" mat-cell *matCellDef="let element"> {{formatoFecha(element.fechaLicencia.toDate())}} </td>
                </ng-container>


                <ng-container matColumnDef="deudaLicencia" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color:#3f51b5;color: white;">{{ 'PAY_MESSAGE' | translate }}</th>
                    <td [ngStyle]="{'background-color': calcularDiferencia(element.fechaLicencia.toDate())}" mat-cell *matCellDef="let element" class="circlegreen">
                        <mat-icon [ngStyle]="{'color': element.saldo>0?'#B30000':'#008015'}">lens</mat-icon>              
                         </td>
                    
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef class="colorColumna"style="background-color:#3f51b5;color: white;">{{ 'ACTION_MESSAGE' | translate }}</th>
                    <td [ngStyle]="{'background-color': calcularDiferencia(element.fechaLicencia.toDate())}" mat-cell *matCellDef="let element;let i=index">
                        <a class="pointer" [routerLink]="['/verCliente', element.id]" style="color: grey;"
                            matTooltip="{{ 'VIEWUSR_MESSAGE' | translate }}">
                            <mat-icon>search</mat-icon>
                        </a>
                        <a class="pointer" (click)="eliminarCliente(element.id)" style="color: rgb(75, 75, 75);"
                            matTooltip="{{ 'DELUSR_MESSAGE' | translate }}">
                            <mat-icon>delete</mat-icon>
                        </a>
                        <div class="confirmation-dialog" *ngIf="showConfirmationDialog">
                            <div class="dialog-content">
                                <h4>{{ 'MSG_MESSAGE' | translate }}</h4>
                                <div style="text-align: center;">
                                    <button mat-raised-button color="primary"
                                        (click)="confirm(element.id)">{{ 'APROV_MESSAGE' | translate }}</button>
                                    <button mat-raised-button color="primary" (click)="cancel()">{{ 'CANCEL_MESSAGE' | translate }}</button>
                                </div>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="">
            </mat-paginator>
            <button mat-raised-button color="primary" routerLink="/home" class="buttonVolver">{{ 'BACK_MESSAGE' | translate }}</button>
        </div>
    </div>
    <h2 *ngIf="(listClientes.length==0 && !cargando) ;hayLicenciasAlLimite" >{{ 'MSG2_MESSAGE' | translate }}</h2>
</div>
<app-footer></app-footer>