table {
   margin: 0 auto;
    
}

th {
    width: 13%;
}


.pointer {
    cursor: pointer;
}

mat-form-field {
    font-size: 14px;
    width: 100%;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
   }
  
   .container {
    position: relative;
    min-height: 100vh;
  }

  .menor30Dias{
    background-color: yellow;
  }

  .menor15Dias{
    background-color: red;
  }