<app-navbar></app-navbar>

<div class="container">
    <mat-toolbar>
        <span class="clienteIzq">Clientes</span><span class="clienteDer" *ngIf="hayLicenciasAlLimite">Atención: existen
            licencias vencidas o prontas a vencer</span>
        <div class="example-spacer"> </div>
        <button mat-raised-button color="primary" routerLink="/crearCliente">Agregar</button>
    </mat-toolbar>
 
    <div *ngIf="listClientes.length>0">
        <mat-form-field style="margin-top: 20px;">
            <mat-label>Búsqueda de Clientes</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input autocomplete="off">
        </mat-form-field>
        <div class="mat-elevation-z8">


            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color:#3f51b5;"> Nombre </th>
                    <td  [ngStyle]="{'background-color': calcularDiferencia(element.fechaLicencia.toDate())}" mat-cell *matCellDef="let element">{{element.nombre}} </td>

                </ng-container>

                <ng-container matColumnDef="apellido">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color:#3f51b5"> Apellido </th>
                    <td [ngStyle]="{'background-color': calcularDiferencia(element.fechaLicencia.toDate())}" mat-cell *matCellDef="let element"> {{element.apellido}} </td>
                </ng-container>


                <ng-container matColumnDef="ciudad">
                    <th mat-header-cell *matHeaderCellDef style="background-color:#3f51b5">Ciudad</th>
                    <td [ngStyle]="{'background-color': calcularDiferencia(element.fechaLicencia.toDate())}" mat-cell *matCellDef="let element"> {{element.ciudad}} </td>
                </ng-container>

                <ng-container matColumnDef="tipoLicencia" style="background-color:#3f51b5">
                    <th mat-header-cell *matHeaderCellDef>Tipo Licencia</th>
                    <td [ngStyle]="{'background-color': calcularDiferencia(element.fechaLicencia.toDate())}" mat-cell *matCellDef="let element"> {{element.tipoLicencia}} </td>
                </ng-container>

                <ng-container matColumnDef="nroSerie">
                    <th mat-header-cell *matHeaderCellDef style="background-color:#3f51b5">Nro Serie</th>
                    <td [ngStyle]="{'background-color': calcularDiferencia(element.fechaLicencia.toDate())}" mat-cell *matCellDef="let element"> {{element.nroSerie}} </td>
                </ng-container>

                <ng-container matColumnDef="password">
                    <th mat-header-cell *matHeaderCellDef style="background-color:#3f51b5">Contraseña</th>
                    <td [ngStyle]="{'background-color': calcularDiferencia(element.fechaLicencia.toDate())}" mat-cell *matCellDef="let element"> {{element.password}} </td>
                </ng-container>

                <ng-container matColumnDef="tiempo">
                    <th mat-header-cell *matHeaderCellDef  style="background-color:#3f51b5">Tiempo</th>
                    <td [ngStyle]="{'background-color': calcularDiferencia(element.fechaLicencia.toDate())}" mat-cell *matCellDef="let element"> {{element.tiempo}} </td>
                </ng-container>
                <ng-container matColumnDef="fechaLicencia" >
                    <th mat-header-cell *matHeaderCellDef style="background-color:#3f51b5">Fecha Licencia</th>
                    <td [ngStyle]="{'background-color': calcularDiferencia(element.fechaLicencia.toDate())}" mat-cell *matCellDef="let element"> {{formatoFecha(element.fechaLicencia.toDate())}} </td>
                </ng-container>


                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef class="colorColumna"style="background-color:#3f51b5">Acciones</th>
                    <td [ngStyle]="{'background-color': calcularDiferencia(element.fechaLicencia.toDate())}" mat-cell *matCellDef="let element;let i=index">
                        <!-- <a class="pointer" [routerLink]="['/cliente', element.id]" style="color: grey;"
                            matTooltip="Ver Usuario">
                            <mat-icon>search</mat-icon>
                        </a> -->
                        <a class="pointer" [routerLink]="['/verCliente', element.id]" style="color: grey;"
                            matTooltip="Ver Usuario">
                            <mat-icon>search</mat-icon>
                        </a>
                        <a class="pointer" (click)="eliminarCliente(element.id)" style="color: rgb(75, 75, 75);"
                            matTooltip="Eliminar Usuario">
                            <mat-icon>delete</mat-icon>
                        </a>
                        <div class="confirmation-dialog" *ngIf="showConfirmationDialog">
                            <div class="dialog-content">
                                <h4>¿Está seguro de que desea continuar?</h4>
                                <div style="text-align: center;">
                                    <button mat-raised-button color="primary"
                                        (click)="confirm(element.id)">Confirmar</button>
                                    <button mat-raised-button color="primary" (click)="cancel()">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="">
            </mat-paginator>
            <button mat-raised-button color="primary" routerLink="/home" class="buttonVolver">Volver</button>
        </div>
    </div>
    <h2 *ngIf="listClientes.length==0 ;hayLicenciasAlLimite" >No se encontraron clientes para mostrar</h2>
</div>
<app-footer></app-footer>